<h3>Forgot password</h3>
<br>
<form [formGroup]="forgotPasswordForm">
    <div class="mb-3">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email address" formControlName="email">
        <span class="text-danger"
        *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].touched && forgotPasswordForm.hasError('required','email')">Email
        is required
      </span>
      <span class="text-danger"
        *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].touched && forgotPasswordForm.hasError('email','email')">Email
        format is not correct
      </span>
    </div>

    
    <button [disabled]="!forgotPasswordForm.valid" (click)="password(forgotPasswordForm)" type="submit" class="btn btn-primary">Submit</button>
</form>


