<h3>Change Password</h3>
<br>
<form [formGroup]="changePasswordForm">
<div class="mb-3">
    <label>Enter Current Password</label>
    <input class="form-control" type="password" placeholder="Current Password" formControlName="old_password">
  </div>

  <div class="mb-3">
    <label>Enter New Password</label>
    <input class="form-control" type="password" placeholder="New Password" formControlName="password">
  </div>

  <div class="mb-3">
    <label>Confirm New Password</label>
    <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirm_password">
  </div>

</form>

<button (click)="changePassword()" class="btn btn-primary">Update</button>