<h3>Change Password</h3>
<br>
<form [formGroup]="changePasswordForm">
<div class="mb-3">
    <label>Enter Current Password</label>
    <input class="form-control" type="password" placeholder="Current Password" formControlName="old_password">
    <span class="text-danger"
    *ngIf="changePasswordForm.controls['old_password'].dirty && changePasswordForm.controls['old_password'].touched && changePasswordForm.hasError('required','old_password')">Password
    is required
  </span>
  </div>

  <div class="mb-3">
    <label>Enter New Password</label>
    <input class="form-control" type="password" placeholder="New Password" formControlName="password">
    <span class="text-danger"
              *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.controls['password'].touched && changePasswordForm.hasError('required','password')">  Password
              is required
            </span>
            <span class="text-danger"
              *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.controls['password'].touched && changePasswordForm.hasError('pattern','password')">Password
              must contain minimum
              eight characters, atleast one letter, one number and one special character
            </span>
  </div>

  <div class="mb-3">
    <label>Confirm New Password</label>
    <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirm_password">
    <span class="text-danger"
    *ngIf="changePasswordForm.controls['confirm_password'].dirty && changePasswordForm.controls['confirm_password'].touched && changePasswordForm.hasError('required','confirm_password')">Password
    is required
  </span>
  <span class="text-danger"
    *ngIf="changePasswordForm.controls['confirm_password'].dirty && changePasswordForm.controls['confirm_password'].touched && changePasswordForm.hasError('mustMatch','confirm_password')">Password
   does not match
  </span>
  </div>

</form>

<button (click)="changePassword()" class="btn btn-primary">Update</button>