<!-- <h3>File upload</h3>

<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

<div class="mb-3">
    <label>Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
</div>

<div class="mb-3">
<label>File</label>
<input type="file" class="form-control" name="" (change)="SelectedFile($event)">
</div>

<button type="submit" class="btn btn-primary">Upload</button>

</form>
 -->
 <h3>File upload</h3>
 <div class="mb-3">
<label class="btn btn-default">File </label>
<img src="{{location}}">
    <input type="file" class="form-control" (change)="selectFile($event)"> 

</div>


<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>