<h1>Login form</h1>
<form [formGroup]="loginform">
    <div>
        <label>Email address</label>
        <input class="form-control" type="email" placeholder="Enter email id" formControlName="username">
    </div>

    <div>
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Enter password" formControlName="password">
    </div>

</form>

<div>
    <button style="margin: 5px;" (click)="Login(loginform)" type="submit" class="btn btn-primary">Login</button>
</div>