<h3>Template Details</h3>

<form [formGroup]="templateForm">
    <div class="mb-3">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" class="form-control" formControlName="title">
    </div>
    
    <div class="form-check">
        <label class="form-check-label" for="send_email">Send_email?</label>
        <input  type="checkbox" [(ngModel)]="send_email" class="form-check-input" id="send_email" formControlName="send_email">
    </div>
   
    <div *ngIf="send_email">
    <div class="mb-3">
    <label for="emailsubject">Email Subject</label>
    <input id="emailsubject" name="emailsubject" type="text" class="form-control" formControlName="email_subject">
    </div>

    <div class="mb-3">
        <label for="emailbody">Email body</label>
        <ckeditor
        formControlName="email_body"
        [config]="config"
            id="emailbody"
            name="emailbody">
        </ckeditor>
    </div>

</div>
<div class="form-check">
    <label class="form-check-label" for="send_sms">Send_sms?</label>
    <input [(ngModel)]="send_sms" type="checkbox" class="form-check-input" id="send_sms" formControlName="send_sms">
</div>


    <div *ngIf="send_sms" class="mb-3">
    <label for="smsbody">Sms body</label>
    <input id="smsbody" name="smsbody" type="text" class="form-control" formControlName="sms_body">
</div>

</form>

<button (click)="updateTemplate()" type="submit" class="btn btn-primary">Update</button>