
<nb-card>
    <nb-card-header>Update employee details</nb-card-header>
    <nb-card-body>
        <form [formGroup]="userData">
            <!--Role id-->
            <div class="mb-3">
              <label>Role ID</label>
              <input class="form-control" type="number" placeholder="Enter role id" formControlName="role_id">
            </div>
            <!--First name-->
            <div class="mb-3">
              <label>First name</label>
              <input class="form-control" type="email" placeholder="Enter your first name" formControlName="first_name">
            </div>
            <!--Last name-->
            <div class="mb-3">
              <label>Last name</label>
              <input class="form-control" type="text" placeholder="Enter your last name" formControlName="last_name">
            </div>
  
            <!--Phone code-->
            <div class="mb-3">
              <label>Phone Code</label>
              <input class="form-control" type="text" placeholder="Enter phone code" formControlName="phone_code">
            </div>
            <!--Phone number-->
            <div class="mb-3">
              <label>Phone number</label>
              <input class="form-control" type="text" placeholder="Enter phone number" formControlName="phone">
            </div>
  
  
          </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="modal-footer">
            <button type="button" (click)="dismiss(false)" class="btn btn-secondary" >Close</button>
            <button type="button" (click)="updatedata()"  class="btn btn-primary">Update</button>
      
          </div>
    </nb-card-footer>
  </nb-card>
  
