<h3>Reset Password</h3>
<br>
<form [formGroup]="resetpasswordForm">
    <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
        <span class="text-danger"
              *ngIf="resetpasswordForm.controls['password'].dirty && resetpasswordForm.controls['password'].touched && resetpasswordForm.hasError('required','password')">  Password
              is required
            </span>
            <span class="text-danger"
              *ngIf="resetpasswordForm.controls['password'].dirty && resetpasswordForm.controls['password'].touched && resetpasswordForm.hasError('pattern','password')">Password
              must contain minimum
              eight characters, atleast one letter, one number and one special character
            </span>
    </div>

    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" class="form-control" placeholder="Enter password" formControlName="confirm_password">
        <span class="text-danger"
    *ngIf="resetpasswordForm.controls['confirm_password'].dirty && resetpasswordForm.controls['confirm_password'].touched && resetpasswordForm.hasError('required','confirm_password')">Password
    is required
  </span>
  <span class="text-danger"
    *ngIf="resetpasswordForm.controls['confirm_password'].dirty && resetpasswordForm.controls['confirm_password'].touched && resetpasswordForm.hasError('mustMatch','confirm_password')">Password
   does not match
  </span>
    </div>

    <button (click)="passwordReset(resetpasswordForm)" [disabled]="!resetpasswordForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
